<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Inventario SOA</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>body{padding:8px}</style>
</head>
<body>
  <nav>
    <a href="/articulos/crear">Crear</a> |
    <a href="/articulos/consultar">Consultar</a> |
    <a href="/logout">Salir</a>
  </nav>
  <main>
    <%- body %>
  </main>
</body>
</html>
